<p id="notice"><%= notice %></p>

<h1>Корзина</h1>

<ol>
  <% @carts.each do |cart| %>
    <% if cart.blank? %>
      <p>Сейчас корзина пустая.</p>
    <% else %>
      <li>
        <%= link_to 'Показать', cart %> |
        <%= link_to 'Удалить', cart, method: :delete, data: {confirm: 'Вы уверены?'} %>
      </li>
    <% end %>
  <% end %>
</ol>

<br>

<p><%= link_to 'На главную', store_index_path %></p>
