.button_plus {
  outline: none;
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-image: url("plus.svg");
  border: 0;
  cursor: pointer;
}
.button_minus {
  outline: none;
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-image: url("minus.svg");
  border: 0;
  cursor: pointer;
}