.button_plus {
  outline: none;
  width: 15px;
  height: 15px;
  background-color: transparent;
  background-image: url("plus.svg");
  border: 0;
  cursor: pointer;
}
.button_minus {
  outline: none;
  width: 15px;
  height: 15px;
  background-color: transparent;
  background-image: url("minus.svg");
  border: 0;
  cursor: pointer;
}
.item_quantity {
  font-size: 150%;
  font-weight: bold;
}
